main h1 {
  font-size: 2rem;
}

img {
  width: 250px;
  height: 170px;
}

.gameResult,
.gameInfo {
  background-color: aquamarine;
  margin: 15px;
  width: 250px;
}

.gameResults {
  display: flex;
  flex-wrap: wrap;
}
